.env*.local
.fixtures/
.next/
.next.test/
.now/
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
*.pnp.*
node_modules
out/
storybook-static/
tsconfig.tsbuildinfo
service-worker.js
workbox*
.env
.vercel

.turbo
